PREFIX=.
AUTO_VIEW_STATUS=on
AUTO_SAVE_STATUS=off
AUTO_READ_MESSAGES=off
PM_PERMIT=off
BOT_MENU_LINKS=https://telegra.ph/file/fbf3780a7259b21e99507.jpg 
BOT_MODE=private
DATABASE_URL=postgresql://postgres:bKlIqoOUWFIHOAhKxRWQtGfKfhGKgmRX@viaduct.proxy.rlwy.net:47738/railway
OWNER_NAME=Keith
OWNER_NUMBER=254748387615
WARN_COUNT=3
STARTING_MESSAGE=on
PRESENCE=typing
CHAT_BOT=off
SESSION_ID='' 
